[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = zachvalenta
	email = zjv5002@gmail.com
[color]
	ui = auto
[alias]
	chlog = log -n 5 --oneline
	nb = checkout -b
	b = branch
	s = status -s
	d = diff
	c = commit -am
[color "diff"]
	meta = white bold
	frag = cyan bold
	commit = white bold
	old = red bold
	new = magenta bold
	whitespace = red reverse
